---
export interface Props {
	title: string;
	text: string;
	cta: string;
	href: string;
}

const { href, title, text, cta } = Astro.props;
---

<div class="mx-auto max-w-7xl px-6 lg:px-8">
  <div
    class="my-10 bg-gray-50 py-12 px-16 rounded-lg flex gap-24 flex-col md:flex-row"
  >
    <div>
      <p class="text-3xl font-bold mb-4">
        {title}
      </p>
      <p class="text-xl text-gray-600">
        {text}
      </p>
    </div>
    <div class="flex justify-center items-center flex-1 md:justify-end">
      <a
        href={href}
        target="_blank"
        class="whitespace-nowrap rounded-md bg-slate-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
        >{cta}</a
      >
    </div>
  </div>
</div>
